.hand-container {
  position: relative;
  border: 4px solid silver;
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  z-index: inherit;
}

.hand-wrapper {
  position: relative;
  height: 9rem;
  transition: width .1s;
  transition-timing-function: linear;
}

.hand-card-wrapper {
  overflow: hidden;
  animation-duration: 0.3s;
  animation-name: slide-in;
}

.hand-score {
  position: absolute;
  border-radius: .5rem;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: .5rem 1rem;
  /* line-height: 1; */
  font-size: large;
  height: fit-content;
  width: fit-content;
  transform: translate(-50%, 100%);
}

.hand-score-top {
  top: -1rem;
  left: 50%;
  transform: translate(-50%, -100%);
}

.hand-score-bottom {
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 100%);
}

@keyframes slide-in {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

.hand-controls {
  position: absolute;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 100%);
}

.hand-controls div {
  position: relative;
  z-index: 10;
  border-radius: .5rem;
  padding: 0.6rem;
  font-size: medium;
  font-weight: bold;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  margin-bottom: .5rem;
  border: 2px solid black;
}

.hand-controls div:hover {
  border-color: white;
}

.hand-controls div:last-child {
  margin-bottom: 0;
}